@charset "UTF-8";

header {
    background: url(portfolio/img/banner-g74975db96_1920.jpg)  left bottom no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;

}
.header-logo a,.header-nav a{
    color: rgba(210, 255, 138, 0.945);
}

body {
    background: rgb(188, 248, 166);
}

.main-visual-img{
    width: 150px;
    height: 150px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
}
.main-visual-img {
    position: relative;
}
.main-visual-img .active {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: 0.5s;
}
.main-visual-img:hover.active {
    opacity: 1;
}
.main-visual-img img{
    width: 100%;
    cursor: pointer;
    transition-duration: 0.5s;
}
.main-visual-img {
    animation: rotate 4s linear 0s infinite;
}
@keyframes rotate{
    0% {transform: rotate(0deg);}
    50%{transform: rotate(180deg);}
    100%{transform: rotate(360deg);}
}
.gazou1 {
    display: none;
}
.gazou2 {
    display: block;
}
.main-visual-img:hover > .gazou1 {
    display: block;
}
.main-visual-img:hover > .gazou2 {
    display: none;
}
.works-item {
    background: linear-gradient(#1899499a, #29b32586);
}
.skill-item1 {
    animation : rotate1 4s  infinite;
}
.skill-item2 {
    animation : rotate2 4s  infinite;
}
.skill-item3 {
    animation : rotate1 4s  infinite;
}
.skill-item4 {
    animation : rotate2 4s  infinite;

}@keyframes rotate1 {
    0%  {transform: rotate(0deg);}
    50% {transform: rotate(20deg);}
    100%{transform: rotate(0deg);}
}
@keyframes rotate2 {
    0%  {transform: rotate(0deg);}
    50% {transform: rotate(-20deg);}
    100%{transform: rotate(0deg);}
}
